{% extends 'base.htm' %}

{% block main %}
<div class="container">
    <br>
    <div class="d-flex justify-content-center">
        <h1>Editar dados Aluno</h1>
    </div>
    <hr>
    <form action="{{url_for('editar_dados', id=dados_aluno.id)}}" class="form-control" enctype="multipart/form-data"
        method="post">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome" value="{{dados_aluno.nome}}" required>
                </div>
                <div class="col-md-6">
                    <label for="idade" class="form-label">Idade</label>
                    <input type="text" class="form-control" name="idade" value="{{dados_aluno.idade}}" required>
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="peso" class="form-label">Peso</label>
                    <input type="text" class="form-control" name="peso" value="{{dados_aluno.peso}}" required>
                </div>
                <div class="col-md-6">
                    <label for="altura" class="form-label">Altura</label>
                    <input type="text" class="form-control" name="altura" value="{{dados_aluno.altura}}" required>
                    <br>
                </div>
                <hr>
            </div>
        </div>
        <div class="mb-3">
            <label for="objetivo" class="form-label">Objetivo</label>
            <textarea class="form-control" name="objetivo" rows="2" required>{{dados_aluno.objetivo}}</textarea>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <h3>Ficha A</h3>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="ex_1_a" class="form-label">Exercicio 1</label>
                    <input type="text" class="form-control" name="ex_1_a" value="{{ficha_aluno_a.ex_1}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_2_a" class="form-label">Exercicio 2</label>
                    <input type="text" class="form-control" name="ex_2_a" value="{{ficha_aluno_a.ex_2}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_3_a" class="form-label">Exercicio 3</label>
                    <input type="text" class="form-control" name="ex_3_a" value="{{ficha_aluno_a.ex_3}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_4_a" class="form-label">Exercicio 4</label>
                    <input type="text" class="form-control" name="ex_4_a" value="{{ficha_aluno_a.ex_4}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_5_a" class="form-label">Exercicio 5</label>
                    <input type="text" class="form-control" name="ex_5_a" value="{{ficha_aluno_a.ex_5}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_6_a" class="form-label">Exercicio 6</label>
                    <input type="text" class="form-control" name="ex_6_a" value="{{ficha_aluno_a.ex_6}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_7_a" class="form-label">Exercicio 7</label>
                    <input type="text" class="form-control" name="ex_7_a" value="{{ficha_aluno_a.ex_7}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_8_a" class="form-label">Exercicio 8</label>
                    <input type="text" class="form-control" name="ex_8_a" value="{{ficha_aluno_a.ex_8}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <div style="margin-right: 5%;" class="col-md-3">
                            <label for="series_a" class="form-label">Series</label>
                            <input type="text" class="form-control" name="series_a" value="{{serie_rep_a.serie_A}}"
                                required>
                        </div>
                        <div class="col-md-3">
                            <label for="repeticoes_a" class="form-label">Repetições</label>
                            <input type="text" class="form-control" name="repeticoes_a"
                                value="{{serie_rep_a.repeticoes_A}}" required>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <h3>Ficha B</h3>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="ex_1_b" class="form-label">Exercicio 1</label>
                    <input type="text" class="form-control" name="ex_1_b" value="{{ficha_aluno_b.ex_1}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_2_b" class="form-label">Exercicio 2</label>
                    <input type="text" class="form-control" name="ex_2_b" value="{{ficha_aluno_b.ex_2}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_3_b" class="form-label">Exercicio 3</label>
                    <input type="text" class="form-control" name="ex_3_b" value="{{ficha_aluno_b.ex_3}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_4_b" class="form-label">Exercicio 4</label>
                    <input type="text" class="form-control" name="ex_4_b" value="{{ficha_aluno_b.ex_4}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_5_b" class="form-label">Exercicio 5</label>
                    <input type="text" class="form-control" name="ex_5_b" value="{{ficha_aluno_b.ex_5}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_6_b" class="form-label">Exercicio 6</label>
                    <input type="text" class="form-control" name="ex_6_b" value="{{ficha_aluno_b.ex_6}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_7_b" class="form-label">Exercicio 7</label>
                    <input type="text" class="form-control" name="ex_7_b" value="{{ficha_aluno_b.ex_7}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_8_b" class="form-label">Exercicio 8</label>
                    <input type="text" class="form-control" name="ex_8_b" value="{{ficha_aluno_b.ex_8}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <div style="margin-right: 5%;" class="col-md-3">
                            <label for="series_b" class="form-label">Series</label>
                            <input type="text" class="form-control" name="series_b" value="{{serie_rep_b.serie_B}}"
                                required>
                        </div>
                        <div class="col-md-3">
                            <label for="repeticoes_b" class="form-label">Repetições</label>
                            <input type="text" class="form-control" name="repeticoes_b"
                                value="{{serie_rep_b.repeticoes_B}}" required>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <h3>Ficha C</h3>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="ex_1_c" class="form-label">Exercicio 1</label>
                    <input type="text" class="form-control" name="ex_1_c" value="{{ficha_aluno_c.ex_1}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_2_c" class="form-label">Exercicio 2</label>
                    <input type="text" class="form-control" name="ex_2_c" value="{{ficha_aluno_c.ex_2}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_3_c" class="form-label">Exercicio 3</label>
                    <input type="text" class="form-control" name="ex_3_c" value="{{ficha_aluno_c.ex_3}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_4_c" class="form-label">Exercicio 4</label>
                    <input type="text" class="form-control" name="ex_4_c" value="{{ficha_aluno_c.ex_4}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_5_c" class="form-label">Exercicio 5</label>
                    <input type="text" class="form-control" name="ex_5_c" value="{{ficha_aluno_c.ex_5}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_6_c" class="form-label">Exercicio 6</label>
                    <input type="text" class="form-control" name="ex_6_c" value="{{ficha_aluno_c.ex_6}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-6">
                    <label for="ex_7_c" class="form-label">Exercicio 7</label>
                    <input type="text" class="form-control" name="ex_7_c" value="{{ficha_aluno_c.ex_7}}">
                </div>
                <div class="col-md-6">
                    <label for="ex_8_c" class="form-label">Exercicio 8</label>
                    <input type="text" class="form-control" name="ex_8_c" value="{{ficha_aluno_c.ex_8}}">
                    <br>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <div style="margin-right: 5%;" class="col-md-3">
                            <label for="series_c" class="form-label">Series</label>
                            <input type="text" class="form-control" name="series_c" value="{{serie_rep_c.serie_C}}"
                                required>
                        </div>
                        <div class="col-md-3">
                            <label for="repeticoes_c" class="form-label">Repetições</label>
                            <input type="text" class="form-control" name="repeticoes_c"
                                value="{{serie_rep_c.repeticoes_C}}" required>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary col-md-6" type="submit" value="Salvar Dados">
                </div>
            </div>
        </div>
        <br>
    </form>
</div>
{% endblock %}