{% extends 'base.htm' %}

{% block main %}
<div class="container">
    <br>
    <div class="d-flex justify-content-center">
        <h1>Fichas</h1>
    </div>
    <form action="{{url_for('fichas_alunos', id=ficha_aluno_a.id)}}" class="form-control" enctype="multipart/form-data"
        method="post">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">Ficha A</li>
                        <li class="list-group-item"><label class="form-label">Exercicio 1</label> <br>
                            {{ficha_aluno_a.ex_1}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 2</label> <br>
                            {{ficha_aluno_a.ex_2}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 3</label> <br>
                            {{ficha_aluno_a.ex_3}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 4</label> <br>
                            {{ficha_aluno_a.ex_4}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 5</label> <br>
                            {{ficha_aluno_a.ex_5}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 6</label> <br>
                            {{ficha_aluno_a.ex_6}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 7</label> <br>
                            {{ficha_aluno_a.ex_7}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 8</label> <br>
                            {{ficha_aluno_a.ex_8}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Series: {{serie_rep_a.serie_A}} -
                                Repetições:
                                {{serie_rep_a.repeticoes_A}}</label> <br>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">Ficha B</li>
                        <li class="list-group-item"><label class="form-label">Exercicio 1</label> <br>
                            {{ficha_aluno_b.ex_1}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 2</label> <br>
                            {{ficha_aluno_b.ex_2}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 3</label> <br>
                            {{ficha_aluno_b.ex_3}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 4</label> <br>
                            {{ficha_aluno_b.ex_4}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 5</label> <br>
                            {{ficha_aluno_b.ex_5}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 6</label> <br>
                            {{ficha_aluno_b.ex_6}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 7</label> <br>
                            {{ficha_aluno_b.ex_7}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 8</label> <br>
                            {{ficha_aluno_b.ex_8}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Series: {{serie_rep_b.serie_B}} -
                                Repetições:
                                {{serie_rep_b.repeticoes_B}}</label> <br>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">Ficha C</li>
                        <li class="list-group-item"><label class="form-label">Exercicio 1</label> <br>
                            {{ficha_aluno_c.ex_1}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 2</label> <br>
                            {{ficha_aluno_c.ex_2}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 3</label> <br>
                            {{ficha_aluno_c.ex_3}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 4</label> <br>
                            {{ficha_aluno_c.ex_4}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 5</label> <br>
                            {{ficha_aluno_c.ex_5}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 6</label> <br>
                            {{ficha_aluno_c.ex_6}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 7</label> <br>
                            {{ficha_aluno_c.ex_7}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Exercicio 8</label> <br>
                            {{ficha_aluno_c.ex_8}}
                        </li>
                        <li class="list-group-item"><label class="form-label">Series: {{serie_rep_c.serie_C}} -
                                Repetições:
                                {{serie_rep_c.repeticoes_C}}</label> <br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}